<!DOCTYPE html>
<html>
<head>
  <title>Rspecapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <!--<a class="navbar-brand" href="#"></a> -->
        <%= link_to "RspecApp", users_path , class: 'navbar-brand' %>
      </div>
    <ul class="nav navbar-nav navbar-right ">
      <% if current_user %>
        <p class="navbar-text">Logged in as <%= current_user.name %></p>
        <li><%= link_to "Log out", log_out_path %></li>
      <% else %>
        <li><%= link_to "Sign up", sign_up_path %></li>
        <li><%= link_to "log in", log_in_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="span10">
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
